* {
    box-sizing: border-box;
}

body, h1, h2, p {
    margin: 0;
}

button, .book, dialog {
    border-radius: 10px;
}

button {
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 0.9rem;
    border: none;
}

button:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.header {
    background-color: #1e293b;
    color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.main {
    padding: 30px;
}

.add-book {
    background-color: #0069D9;
    margin-bottom: 30px;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-auto-rows: fit-content;
    gap: 20px;
}

/* Book styles */
.book {
    border: 1px solid black;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
}

.title {
    margin-bottom: 5px;
}

.book-info-container {
    font-size: 1.2rem;
}

.book-buttons-container {
    align-self: end;
    display: flex;
    gap: 10px;
}

.delete {
    background-color: #DC3545;
}

.toggle-read, dialog button {
    background-color: #218838;
}

/* Dialog Styles */
::backdrop {
    background-color: black;
    opacity: 40%;
}

dialog {
    border: 1px solid black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label-block {
    display: block;
    margin-bottom: 2px;
}

.label-block, .label-question {
    font-size: 1.4rem;
}

input[type="text"], input[type="number"] {
    width: 100%;
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

dialog button {
    align-self: center; 
}